
label, span {
  display: block;
  text-align: center;
}

label {
  color: grey;
}

span {
  font-size: 2rem;
  margin: 6px 0 20px;;
}

p-progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
